In [1]:
import pandas as pd
import numpy as np

In [2]:
# Path to data set in a variable
wh15 = "../Project_2_Team_5/Resources/2015.csv"
wh16 = "../Project_2_Team_5/Resources/2016.csv"
wh17 = "../Project_2_Team_5/Resources/2017.csv"
wh18 = "../Project_2_Team_5/Resources/2018.csv"
wh19 = "../Project_2_Team_5/Resources/2019.csv"

In [3]:
# Use Pandas to read data
wh15_df = pd.read_csv(wh15)
wh15_df.head()

# Drop columns
wh15_drop = wh15_df.drop(columns=['Region', 'Standard Error', 'Generosity','Dystopia Residual', 'Happiness Rank', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)'])
wh15_drop.head()

# Sort ascending
wh15_sorted = wh15_drop.sort_values(by='Country', ascending=True)
wh15_sorted.head() 

# Add "Year" column
wh15_sorted.insert(loc=1,
          column='year',
          value=2015)
wh15_sorted.head()  

# Rename columns
wh15_rename = wh15_sorted.rename(columns={"Economy (GDP per Capita)": "gdp_per_capita", 
                                        "Country": "country",
                                        "Happiness Score": "happiness_score"}, 
                                errors="raise")
wh15_rename.head()

         country  year  happiness_score  gdp_per_capita
152  Afghanistan  2015            3.575         0.31982
94       Albania  2015            4.959         0.87867
67       Algeria  2015            5.605         0.93929
136       Angola  2015            4.033         0.75778
29     Argentina  2015            6.574         1.05351

In [4]:
# Use Pandas to read data
wh16_df = pd.read_csv(wh16)
wh16_df.head()

# Drop columns
wh16_drop = wh16_df.drop(columns=['Region', 'Lower Confidence Interval', 'Upper Confidence Interval','Generosity','Dystopia Residual', 'Happiness Rank', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)'])
wh16_drop.head()


# Sort ascending
wh16_sorted = wh16_drop.sort_values(by='Country', ascending=True)
wh16_sorted.head()

# Add "Year" column
wh16_sorted.insert(loc=1,
          column='year',
          value=2016)
wh16_sorted.head()  

#Rename columns
wh16_rename = wh16_sorted.rename(columns={"Economy (GDP per Capita)": "gdp_per_capita",
                                        "Country": "country",
                                        "Happiness Score": "happiness_score"}, 
                                errors="raise")
wh16_rename.head()

         country  year  happiness_score  gdp_per_capita
153  Afghanistan  2016            3.360         0.38227
108      Albania  2016            4.655         0.95530
37       Algeria  2016            6.355         1.05266
140       Angola  2016            3.866         0.84731
25     Argentina  2016            6.650         1.15137

In [5]:
# Use Pandas to read data
wh17_df = pd.read_csv(wh17)
wh17_df.head()

# Drop columns
wh17_drop = wh17_df.drop(columns=['Whisker.high', 'Whisker.low','Generosity', 'Dystopia.Residual', 'Happiness.Rank', 'Family', 'Health..Life.Expectancy.', 'Freedom', 'Trust..Government.Corruption.'])
wh17_drop.head()

# Sort ascending
wh17_sorted = wh17_drop.sort_values(by='Country', ascending=True)
wh17_sorted.head() 

# Add "Year" column
wh17_sorted.insert(loc=1,
          column='year',
          value=2017)
wh17_sorted.head()

#Rename columns
wh17_rename = wh17_sorted.rename(columns={"Happiness.Score": "happiness_score",
                                 "Economy..GDP.per.Capita.": "gdp_per_capita",
                                 "Country": "country"}, 
                                 errors="raise")
wh17_rename.head()

         country  year  happiness_score  gdp_per_capita
140  Afghanistan  2017            3.794        0.401477
108      Albania  2017            4.644        0.996193
52       Algeria  2017            5.872        1.091864
139       Angola  2017            3.795        0.858428
23     Argentina  2017            6.599        1.185295

In [6]:
# Use Pandas to read data
wh18_df = pd.read_csv(wh18)
wh18_df.head()

# Drop columns
wh18_drop = wh18_df.drop(columns=['Overall rank','Generosity', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Perceptions of corruption'])
wh18_drop.head()


# Sort ascending
wh18_sorted = wh18_drop.sort_values(by='Country or region', ascending=True)
wh18_sorted.head()

# Add "Year" column
wh18_sorted.insert(loc=1,
          column='year',
          value=2018)
wh18_sorted.head()  

#Rename columns
wh18_rename = wh18_sorted.rename(columns={"Country or region": "country", 
                                        "Score": "happiness_score", 
                                        "GDP per capita": "gdp_per_capita"}, 
                                errors="raise")
wh18_rename.head()

         country  year  happiness_score  gdp_per_capita
144  Afghanistan  2018            3.632           0.332
111      Albania  2018            4.586           0.916
83       Algeria  2018            5.295           0.979
141       Angola  2018            3.795           0.730
28     Argentina  2018            6.388           1.073

In [7]:
# Use Pandas to read data
wh19_df = pd.read_csv(wh19)
wh19_df.head()

# Drop columns
wh19_drop = wh19_df.drop(columns=['Overall rank', 'Generosity', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Perceptions of corruption'])
wh19_drop.head()

# Sort ascending
wh19_sorted = wh19_drop.sort_values(by='Country or region', ascending=True)
wh19_sorted.head()

# Add "Year" column
wh19_sorted.insert(loc=1,
          column='year',
          value=2019)
wh19_sorted.head()  

#Rename columns
wh19_rename = wh19_sorted.rename(columns={"Country or region": "country", 
                                        "Score": "happiness_score", 
                                        "GDP per capita": "gdp_per_capita"}, 
                                errors="raise")
#formatting numbers to 2 decimal points                                
pd.options.display.float_format = '{:,.2f}'.format
wh19_rename.head()

         country  year  happiness_score  gdp_per_capita
153  Afghanistan  2019             3.20            0.35
106      Albania  2019             4.72            0.95
87       Algeria  2019             5.21            1.00
46     Argentina  2019             6.09            1.09
115      Armenia  2019             4.56            0.85

In [8]:
wh_append = wh15_rename\
    .append(wh16_rename, ignore_index=True)\
    .append(wh17_rename, ignore_index=True)\
    .append(wh17_rename, ignore_index=True)\
    .append(wh18_rename, ignore_index=True)\
    .append(wh19_rename, ignore_index=True)\

wh_append

sorted = wh_append.sort_values(by='country', ascending = True)
sorted

         country  year  happiness_score  gdp_per_capita
0    Afghanistan  2015             3.58            0.32
315  Afghanistan  2017             3.79            0.40
625  Afghanistan  2018             3.63            0.33
158  Afghanistan  2016             3.36            0.38
781  Afghanistan  2019             3.20            0.35
..           ...   ...              ...             ...
469     Zimbabwe  2017             3.88            0.38
314     Zimbabwe  2016             4.19            0.35
157     Zimbabwe  2015             4.61            0.27
780     Zimbabwe  2018             3.69            0.36
936     Zimbabwe  2019             3.66            0.37

[937 rows x 4 columns]

In [10]:
sorted.to_csv('../Project_2_Team_5/Outputs/wh_final.csv')